{%extends 'base.html'%}
{%block title%}Login{%endblock%}
{%block main%}
<h1>Lista de tareas</h1>
{%block mian%}
<div>
    <div
        class="table-responsive"
    >
        <table
            class="table table-primary"
        >
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Texto</th>
                    <th scope="col">Fecha creacion</th>
                    <th scope="col">Fecha de termino</th>
                </tr>
            </thead>
            <tbody>
                {%for task in tasks%}
                <tr class="">
                    <td>{{task['title_task']}}</td>
                    <td>{{task['task']}}</td>
                    <td>{{task['date_create_task']}}</td>
                    {%if task['date_end_task'] == None%}
                        <td>sin completar</td>
                    {%else%}
                    <td>{{tarea['date_end_task']}}</td>
                    {%endif%}
                    {%endfor%}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}
{%endblock%}